@tailwind base;
@tailwind components;
@tailwind utilities;

.search-banner {
  background-image: url("https://www.zillowstatic.com/s3/homepage/static/ZillowTimberlake_2098_DT_1440.webp");
  background-position: 60% bottom;
  position: relative;
}
